@model RoboWorld.Models.LoginModel;
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactMe</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <form asp-action="Login" method="post" asp-controller="Account">

        <div class="container">
            <div class="col">
              
                <h1 style="font-weight: bold;">Login</h1>
                <hr />
                <div style="color:red;" asp-validation-summary="All"></div>
                <div class="row" id="row-flex">
                    <div class="col">

                        <label id="labelStyle" asp-for="EmailID">Email-ID</label>
                        <input type="text" id="email" asp-for="EmailID" placeholder="Your Email-ID..">

                        <label id="labelStyle" asp-for="Password">Password</label>
                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                        <input  asp-for="Password" placeholder="Your Password.." style=" width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; margin-top: 0px; margin-bottom: 12px; resize: vertical;">


                        <p> <button id="bbutton" type="submit"> SUBMIT </button></p>
                    </div>
                </div>
            </div>

    </form>

</body>
</html>